Flask==2.2.2
dataclasses-json==0.5.2
psycopg2-binary==2.8.6
python-arango==7.1.0
cassandra-driver==3.25.0
influxdb-client==1.21.0
elasticsearch==7.15.1
azure-kusto-data==4.1.2
azure-kusto-ingest==4.1.2
pandas==1.5.3